*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #1E1E1E;

}
nav{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

}
#mainmenu{
    background-color: transparent;
}

#mainmenu ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#mainmenu ul li {
    display: inline;
}

#mainmenu ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    transition: .4s;
}

#mainmenu ul li a:hover {
    background-color: rgb(24, 139, 233);
    border-radius: 40px;
    transition: .5s;

}

#mainmenu ul li:last-child a {
 
    background-color: rgb(24, 139, 233);
    border-radius: 30px;
}

