:root {
    --blue: #1363DF;
    --red: rgba(245,12,70,1);
    --purple: #813995;
    --orange: #EE5337;
    --orange2: #FF5B72;
}
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    

}
section{
    width:100%;
	height:900px;
	float:left;
	
}
section#inicio{
    background-color: #0B001D;
}
nav{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


}
#mainmenu{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

#mainmenu ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#mainmenu ul li {
    display: inline;
}

#mainmenu ul li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;

}

#mainmenu #pages{
    float: right;
    align-self: center;
}

#mainmenu ul li a:hover {
    color: var(--red);
    transition: .5s;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i))
}
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-10px)
    }
  }

#mainmenu ul li:last-child a {
 
    
    border-radius: 30px;
}
#mainmenu #polarys{
    font-size: 2em;
    animation: flip 2s infinite;
    animation-delay: calc(.5s * var(--i))
    }

    @keyframes flip {
        0%,50% {
          transform: rotateY(360deg) 
        }
      }
    hr{
       
        margin-top: 5px;
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.2;
    }
    .maincontent{

        justify-content: center;
        margin-top: 150px;
        

    }
    .maincontent #maintext h1{
        color: #fff;
        font-size: 3em;
        text-align: center;
        text-shadow: 0 0 1.5em  var(--blue), 0 0 0 currentColor;
       
    
    }
    p{
    
        text-shadow: 0 0 1.5em  var(--red), 0 0 0 currentColor;
    }
    #subtext {
        margin-top: 40px;
        display: flex;
  justify-content: center;
 
    }
    .maincontent #subtext h2{
        font-weight: 100;
        color: #9C9D9E;
        font-size: 1.5em;
    }

    .maincontent #btn-exp{
        margin-top: 120px;
        display: flex;
        justify-content: center;
        cursor: pointer;
       
    }
    .maincontent #btn-exp h3{
        background: linear-gradient(to right, var(--blue), var(--red));;
        color: #fff;
        font-weight: 100;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 30px;
        /* box-shadow: 0 0 1.5em  var(--purple), 0 0 0 currentColor; */
        box-shadow: 5px 5px 15px #000;
        transition: 0.5s;
        
    }
    .maincontent #btn-exp h3:hover{
        box-shadow: 0 0 1.5em  var(--purple), 0 0 0 currentColor;
    }

    #mainabout{
        position: relative;
        top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #art{
        padding-right: 200px;
    }
    #textabout{
        color: #606060;
        font-size: 1.5em;
       line-height: 35px;
       font-weight: 100;
 
    }
    #s {
        color: var(--orange);
        margin-bottom: 40px;
    }
    #contato{
        background-color: #000;
    }
    #btnabout{
       margin-top: 20px;
        cursor: pointer;
        background: linear-gradient(to right, var(--orange2), var(--orange));;
        color: #fff;
        font-weight: 100;
        text-align: center;
        border-radius: 30px;
        transition: 0.5s;
        width: 200px;
    }
  #aboutfather{
    display: flex;
    flex-direction: column;
  }
